{% extends 'base.html' %} {% load static %} 


{% block link %}
<link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock link %} 

{% block content %}
<section>
<div class="theme">
  <h1>テラリアサーチ</h1>
  <div class="search_div">
    <form
      role="search"
      method="get"
      id="searchform"
      class="searchform"
      action=""
    >
      <div>
        <input
          class="search"
          type="search"
          placeholder="サイト内検索"
          id="s"
          name="s"
          value=""
        />
        <button type="submit" id="searchsubmit">検索</button>
      </div>
    </form>
  </div>
</div>
</section>

<section class="card-sec">
  <div class="card-inner inner">

    <div class="card-container">

      <!-- card-item -->
      {% for parentCategory in parentCategory_data %}
      <div class="card-item">
        <a class="card-link" href="#">
          <img class="card-img" src="{{parentCategory.image_url}}" width="32" height="32">
          <h2 class="card-tit">{{parentCategory.name}}</h2>
        </a><!-- /card-content -->
      </div><!-- /card-item -->
      {% endfor %}

    </div><!-- /card-container -->

  </div><!-- /card-inner -->
</section><!--/card-sec-->
{% endblock content %}
