{% extends 'base.html' %} {% load static %} 


{% block link %}
<link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock link %} 

{% block content %}
<section>
<div class="theme">
  <h1>テラリアサーチ</h1>
  <div class="search_div">
    <form
      role="search"
      method="get"
      id="searchform"
      class="searchform"
      action=""
    >
      <div>
        <input
          class="search"
          type="search"
          placeholder="サイト内検索"
          id="s"
          name="s"
          value=""
        />
        <button type="submit" id="searchsubmit">検索</button>
      </div>
    </form>
  </div>
</div>
</section>

<section class="card-sec">
  <div class="card-inner inner">

    <div class="card-container">

      <!-- card-item -->
      <div class="card-item">
        <a class="card-link" href="#">
          <img class="card-img" src="http://media.arcenserv.info/w/images/Copper_Pickaxe.png" width="32" height="32">
          <h2 class="card-tit">道具</h2>
        </a><!-- /card-content -->
      </div><!-- /card-item -->

      <!-- card-item -->
      <div class="card-item">
        <a class="card-link" href="#">
          <img class="card-img" src="http://media.arcenserv.info/w/images/Wooden_Sword.png" width="32" height="32">
          <h2 class="card-tit">武器</h2>
        </a><!-- /card-content -->
      </div><!-- /card-item -->

      <!-- card-item -->
      <div class="card-item">
        <a class="card-link" href="#">
          <img class="card-img" src="http://media.arcenserv.info/w/images/Wood_Fullset_Male.png" width="26" height="44">
          <h2 class="card-tit">防具</h2>
        </a><!-- /card-content -->
      </div><!-- /card-item -->

      <!-- card-item -->
      <div class="card-item">
        <a class="card-link" href="#">
          <img class="card-img" src="http://media.arcenserv.info/w/images/Shackle.png" alt="">
          <h2 class="card-tit">アクセサリ</h2>
        </a><!-- /card-content -->
      </div><!-- /card-item -->

      <!-- card-item -->
      <div class="card-item">
        <a class="card-link" href="#">
          <img class="card-img" src="http://media.arcenserv.info/w/images/Lesser_Healing_Potion.png" alt="">
          <h2 class="card-tit">ポーション</h2>
        </a><!-- /card-content -->
      </div><!-- /card-item -->

      <!-- card-item -->
      <div class="card-item">
        <a class="card-link" href="#">
          <img class="card-img" src="http://media.arcenserv.info/w/images/Acorn.png" alt="">
          <h2 class="card-tit">雑貨</h2>
        </a><!-- /card-content -->
      </div><!-- /card-item -->

      <!-- card-item -->
      <div class="card-item">
        <a class="card-link" href="#">
          <img class="card-img" src="http://media.arcenserv.info/w/images/Dirt_Block.png"  alt="">
          <h2 class="card-tit">ブロック類</h2>
        </a><!-- /card-content -->
      </div><!-- /card-item -->

    </div><!-- /card-container -->

  </div><!-- /card-inner -->
</section><!--/card-sec-->
{% endblock content %}
