{% extends 'base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'item.css' %}" />
{% endblock link %} {% block content %}
<section>
  <div class="theme">
    <h1>詳細データ</h1>
  </div>
</section>
<section class="card-sec">
  <div class="card-inner inner">

    <div class="card-container">

         <!-- card-item -->
      <div class="card-item">
          <img class="card-img" src="{{item_data.image_url}}" width="16" height="16">
          <h2 class="card-tit">{{item_data.name}}</h2>
      </div><!-- /card-item -->

    </div><!-- /card-container -->

  </div><!-- /card-inner -->
</section><!--/card-sec-->

<table>
  <tr>
    <th>必要家具</th>
    <td>
      {% for item in item_data.item_workplace.all %}
      <img class="card-img" src="http://media.arcenserv.info/w/images/Iron_Anvil.png" width="16" height="16">
      {{item_data.name}}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>必要素材</th>
    <td>
      {% for item in item_data.item_needed_material.all %}
      <img class="card-img" src="{{item.image_url}}" width="16" height="16">
      {{item.name}}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>入手方法</th>
    <td>{{item_data.how_to_get}}</td>
  </tr>
</table>
{% endblock content %}
